
#coverimage{
text-align: center ;
width:851px; 
height:315px; 
	
}
div{
moz-border-radius: 15px; 
webkit-border-radius: 15px;
border-radius: 15px;
}
#profilefframe{
background-color:white; 
width:300px; 
height:850px; 
}

#profileframe{
background-color:#D6D6ED;
width:300px; 
height:800px; 
moz-border-radius: 500px; 
webkit-border-radius: 500px;
border-radius: 500px
}

#profileimage{
width:200px; 
height:300px; 
padding-bottom:15px;
}

#image{ 
margin-top:15px;
width:200px; 
height:300px; 
padding:1px;
border:1px solid #021a40;
max-width: 100%;
moz-border-radius: 500px; 
webkit-border-radius: 500px;
border-radius: 500px
}
#information{
background-color:#080960;
width:300;
color:white;

}
#closesessionbutton, #settingsbutton{
background-color:#B7B7D1;
width:300;

}